//main contacto
.main-contacto {
    background-color: $miazul;
    text-align: center;
    color: whitesmoke;
    padding: 2%;
    font-size: 200%;

}

.ubicacion {
    display: flex;
    background-color: whitesmoke;

    .ubicacion-item {
        display: flex;
        background-color: whitesmoke;
        max-width: 100%;
        height: 90%;
        text-decoration: none;

        div {
            iframe {
                padding: 5%;
                height: 800px;
                width: 800px;
            }

            ul {
                padding: 5%;

                li {
                    list-style-type: none;
                    padding: 5%;
                }

            }

        }

    }
}

    .formulario-contacto {
        background-color: whitesmoke;
        padding: 5%;
    }