
/*#222279 color azul*/
.html{
    padding: 0;
    margin: 0
    
}

// Comienzo css header
    .navbar-item{
        display: flex;
        padding: 0;
        margin: 0;}

    .container{
            display: flex;
            font-family: nunito;
            .ul-nav {
                list-style-type: none;
                display: flex;
                li a{
                    text-decoration: none;
                    display: block;
                    padding: 10px;
                }
                
            }
        
        }

// Comienzo css footer
.pie-de-pagina{
    padding: 5%;
    margin: 0;
    display: flex;
    background-color:rgb(50, 50, 125);
    div{
        padding: 0;
        margin: 0;
        text-decoration: none;
        max-width: 100%;
        a{
            text-decoration: none;            
        }
        ul a{
            padding: 10px;
            text-decoration: none;
            }
    
    }
}