
.html{
    padding: 0;
    margin: 0
    
}

// Comienzo css header
    .container-fluid{
        .navbar-nav li a{
            list-style-type: none;
            text-decoration: none;
            padding: 10px;
            color: $miazul;

        }
        .navbar-nav li :hover {
            color: $midorado;
        }
    } 

