// mian de la empresa
.main-laempresa{
    background-color: whitesmoke;
    padding: 5px;
    .titulo-historia{
        text-decoration: none;
        font-family: nunito;
        text-align: center;
        border-color: #b5b463 whitesmoke #b5b463;
        border-width: 2px 0px 0px;
        border-style: solid solid solid;
    }
    .grid-historia p{
        font-style: italic;
    }

}