.main-motores{
    background-color: whitesmoke;
    padding: 20px;
    border-color: $miazul;
    border-width: 2px 0px 0px 0px;
    border-style: solid solid solid;
    h2{
        text-align: center;
    }
    .carousel-inner{
        max-height: 400px;
    }
    .motores-emblema{
    padding: 2% ;
    margin-top: 5%;
    font-style: italic;
    }
    .motores-vendidos {
        text-align: center;
        padding: 3%;
        background-color: $miazul;
        color: whitesmoke
        }
        .motores-item{
            padding: 10px;
            display: flex;
            max-width: 100%;
            div{
                display: block;
                padding: 5px;
            }
            div img{
                max-height: 300px;
                max-width: 100%;
            
            }
        }
   
}